.labelA
{
    -fx-background-color: White;
    -fx-text-fill: #383838;
    -fx-text-alignment: left;
}
#title
{
    -fx-text-fill: #0fa2e2;
    -fx-background-color: white;
}
.startButton
{
  -fx-text-fill: White;
    -fx-background-color: #0fa2e2;
}
.startButton:hover
{
    -fx-background-color: #0d91ca;
    -fx-text-fill: White;
}
.startButton:focused
{
    -fx-background-color: #0fa2e2;
    -fx-text-fill: White;
}
.startButton:focused:hover
{
    -fx-background-color: #0d91ca;
    -fx-text-fill: White;
}
.wrappedPane
{
    -fx-background-color: White;
}
.context-menu  {
    -fx-pref-width: 256;
    -fx-background-color: white;
    -fx-border-color: Green;
}
.choice-box:focused  {
    -fx-pref-width: 256;
    -fx-background-color: white;
    -fx-border-color: #0d91ca;
}

.choice-box
{
    -fx-pref-width: 256;
    -fx-background-color: White;
    -fx-border-color: grey
}

#backButton{
    -fx-background-radius:5em;
    -fx-background-color: #0fa2e2;
    -fx-text-fill: White;
}

#backButton:hover{
    -fx-background-radius:5em;
    -fx-background-color: #0d91ca;
    -fx-text-fill: White;
}

#backButton:focused{
    -fx-background-radius:5em;
    -fx-background-color: #0fa2e2;
    -fx-text-fill: White;
}

